{% extends "../layout.html" %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/jobs">Jobs</a></li>
        <li class="active">Index</li>
    </ol>
    <a class="btn btn-primary btn-sm pull-right" href="/jobs/new">Add Job</a>
    <table class="table table-striped">
        <thead>
            <tr class="">
            <th>Id</th>
            <th>DataSource</th>
            <th>Database Pattern</th>
            <!--
            <th>Database need eval?</th>
            -->
            <th>Table Pattern</th>
            <!--
            <th>Table need eval?</th>
            -->
            <th>Database Name</th>
            <th>Table Name</th>
            <!--
            <th>Create Column Name</th>
            <th>Update Column Name</th>
            -->
            <th>Status</th>
            <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <td>{{job.id}}</td>
                <td><a href="/datasources/{{job.datasource.id}}/show" class="btn-link">{{job.datasource.id}}</a></td>
                <td>{{job.database}}</td>
                <!--
                <td>{{job.database_eval}}</td>
                -->
                <td>{{job.table}}</td>
                <!--
                <td>{{job.table_eval}}</td>
                -->
                <td>{{job.database_name}}</td>
                <td>{{job.table_name}}</td>
                <!--
                <td>{{job.create_column}}</td>
                <td>{{job.update_column}}</td>
                -->
                <td><span class="label label-primary"> Running</span></td>
                <td >
                    <a href="/jobs/{{job.id}}/edit" class="btn btn-primary btn-sm" role="button">Edit</a>
                    <a href="/jobs/{{job.id}}/start" class="btn btn-info btn-sm">Start</a>
                    <a href="/jobs/{{job.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                </td>

            </tr>
            {% end %}
        </tbody>


    </table>
</div>
{% end %}
