{% extends "../layout.html" %}
{% block content %}
<ol class="breadcrumb">
    <li><a href="/datasources">DataSource</a></li>
    <li class="active">Show</li>
</ol>
<form class="form-horizontal" action="/datasources/{{datasource.id}}/edit"
      method="post">

    <div class="form-group">
        <label class="col-sm-2 control-label">Id</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{datasource.id}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Type</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{datasource.type}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Instance</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{datasource.instance}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Host</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{datasource.host}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Port</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{datasource.port}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{datasource.username}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{datasource.passwd}}</p>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Query</label>

        <div class="col-sm-10">
            <p class="form-control-static">{{datasource.query}}</p>
        </div>
    </div>
</form>
{% end %}